In [23]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests

## Step 1 - Scraping

### NASA Mars News

In [24]:
# # https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

In [184]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [185]:
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)

In [27]:
html = browser.html
soup = BeautifulSoup(html,"html.parser")

In [28]:
soup = bs(html, 'lxml')

In [31]:
news_title = soup.find('div', class_='content_title').text
print(news_title)

news_p=soup.find('div', class_='article_teaser_body').text
print(news_p)

NASA's Curiosity Rover Finds an Ancient Oasis on Mars
New evidence suggests salty, shallow ponds once dotted a Martian crater — a sign of the planet's drying climate.

In [ ]:
paragraphs = soup.find_all('p')
for paragraph in paragraphs:
    print(paragraph.text)

In [6]:
# Example:
news_title = "NASA's Next Mars Mission to Investigate Interior of Red Planet"

news_p = "Preparation of NASA's next spacecraft to Mars, InSight, has ramped up this summer, on course for launch next May from Vandenberg Air Force Base in central California -- the first interplanetary launch in history from America's West Coast."

### JPL Mars Space Images - Featured Image

In [43]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [44]:
html = browser.html
soup = BeautifulSoup(html,"html.parser")

In [45]:
soup = bs(html, 'lxml')

In [66]:
image_name= soup.find('article', class_='carousel_item')['alt'] 
print(image_name)

Animation of Ceres

In [67]:
base_url = 'https://www.jpl.nasa.gov'
img_url = soup.find(attrs={'data-title':image_name})["data-fancybox-href"] 
featured_image_url = base_url + img_url
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA19168_ip.jpg

### Mars Weather

In [72]:
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

In [73]:
html = browser.html
soup = BeautifulSoup(html,"html.parser")

In [74]:
soup = bs(html, 'lxml')

In [76]:
mars_weather= soup.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text').text
print(mars_weather)

InSight sol 309 (2019-10-10) low -102.3ºC (-152.1ºF) high -26.2ºC (-15.1ºF)
winds from the SSE at 6.1 m/s (13.6 mph) gusting to 18.9 m/s (42.4 mph)
pressure at 7.20 hPapic.twitter.com/sSOjseIl81

### Mars Facts

In [77]:
url = 'https://space-facts.com/mars/'

In [78]:
tables = pd.read_html(url)
tables

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [90]:
mars_df = tables[1]
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [95]:
df.columns = ['Attribute', 'Value']
df.set_index('Attribute')

                                              Value
Attribute
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [102]:
html_table = df.to_html()
html_table.replace('\n', '')
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Attribute</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [103]:
df.to_html('table.html')

In [104]:
!open table.html

### Mars Hemispheres

In [139]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [140]:
html = browser.html
soup = BeautifulSoup(html,"html.parser")

In [141]:
soup = bs(html, 'lxml')

In [142]:
cerberus_xpath = '//*[@id="product-section"]/div[2]/div[1]/a/img'

In [143]:
results = browser.find_by_xpath(cerberus_xpath)
img = results[0]
img.click()

In [144]:
cerberus_xpath_full='//*[@id="wide-image"]/div/ul/li[1]/a'

cerberus_url= browser.find_by_xpath(cerberus_xpath_full)
cerberus_url = cerberus_url[0]['href']
cerberus_url

'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'

In [188]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html,"html.parser")
soup = bs(html, 'lxml')

hemisphere_img_urls = []


xpath = '//*[@id="product-section"]/div[2]/div/div/a'

results = browser.find_by_xpath(xpath)

print(len(results))
# Loop through results 

for item in range(len(results)):
    try:
      
        hemisphere_title = result.find_by_tag('h3').text
        result.click()
        xpath_full='//*[@id="wide-image"]/div/ul/li[1]/a'
        hemisphere_url= browser.find_by_xpath(xpath_full)
        hemisphere_img_url = hemisphere_url['href']

        img_dict = {"image title":hemisphere_title, "image url":hemisphere_img_url}
        hemisphere_img_urls.append(img_dict)
        browser.visit(url)

    except Exception as e:
        print(e)


print(hemisphere_img_urls)

4
Message: stale element reference: element is not attached to the page document
  (Session info: chrome=77.0.3865.90)

Message: stale element reference: element is not attached to the page document
  (Session info: chrome=77.0.3865.90)

Message: stale element reference: element is not attached to the page document
  (Session info: chrome=77.0.3865.90)

[{'image title': 'Cerberus Hemisphere Enhanced', 'image url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}]